html {
    background: url("../img/bg.png") #222;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game {
    /*background: transparent;*/
    background: #fff;
    cursor: url('assets/img/crosshair.cur'), crosshair; /* IE Fix */
    cursor: url('../img/crosshair.png') 16 16, crosshair;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding:20px;
    border-radius: 3px;
    color: #fff;
    background: #333;
}

#interface {
    background: #091122;
    color: #fff;
    padding: 5px 15px;
}