html {
    background: url("../img/bg.png") #222;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game {
    /*background: transparent;*/
    background: #fff;
    cursor: url('../img/crosshair.png') 16 16, auto;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding:20px;
    border-radius: 3px;
    color: #fff;
    background: #333;
}